/* Other rules */
.hidden {
  visibility: hidden;
}

.app {
  background-color: var(--background);
  min-height: 100vh;
  transition: all 0.8s;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid var(--header-border);
}

header svg[data-icon="list-alt"] {
  font-size: 50px;
  margin-right: 50px;
}

svg path {
  fill: var(--main-color);
}

h1 {
  font-size: 48px;
  font-weight: 500;
  color: var(--text);
}

.theme-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: var(--text);
}

.theme {
  position: relative;
  width: 40px;
  height: 10px;
  background-color: var(--background-tasklist-input);
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.theme::after {
  content: " ";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: -50%;
  left: 0;
}

.isActive.theme::after {
  left: auto;
  right: 0;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.filter input {
  width: 100%;
  margin-bottom: 50px;
}

.task-list {
  background-color: var(--background-tasklist-input);
  padding: 25px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task:not(:last-child) {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 25px;
  cursor: pointer;
}

.task svg {
  margin-left: 25px;
  cursor: pointer;
}

.strike-through {
  text-decoration: line-through;
}

.add-task {
  display: flex;
}

.add-task input,
.filter input {
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 35px;
  border: 1px solid var(--main-color);
  background-color: var(--background-tasklist-input);
  font-size: 18px;
}

.add-task button {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--second-text);
  font-size: 18px;
  cursor: pointer;
}

/* FOOTER */

footer {
  color: var(--text);
  text-align: center;
  padding: 100px 0;
}

footer a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}
